<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portier IdP prototype</title>
    <style type="text/css">body{margin:40px
auto;max-width:650px;line-height:1.6;color:#444;padding:0
10px}h1,h2,h3{line-height:1.2}</style>
<body>
    <h1>Users</h1>
    <ul>
    <% users.each do |user| %>
        <li><%= user['name'] %>
    <% end %>
    </ul>
    <form method="POST" action="<%= url '/addUser' %>" >
        <input name="name" type="email" placeholder="test@localhost">
        <input name="password" type="password" placeholder="test">
        <button>Ok</button
    </form>
    
</body>
</html>